body{
    background-image: url('assets/land.png');
    background-size: cover;
}

.player{
    width: 80px;
    height: 100px;
    background-image: url('assets/player_front.png');
    /* border: 3px solid blue; */
    background-size: 240px 100%;
    background-position: -80px 0;
    position: fixed;
    z-index: 1000;
}
.player.walk{
    animation: walk .2s step-start infinite;
}

@keyframes walk{
    0%, 32%{
        background-position: 0 0;
    }
    33%, 65%{
        background-position: -80px 0;
    }
    66%, 100%{
        background-position: -160px 0;
    }
}

.grass{
    width: 50px;
    height: 50px;
    background-image: url('assets/grass.png');
    background-size: 100% 100%;
    position: fixed;
    z-index: 1;
}

.pokeball{
    width: 25px;
    height: 25px;
    background-image: url('assets/pokeball.png');
    background-size: 100% 100%;
    position: fixed;
    z-index: 0;
}

.score {
    position: relative;
    padding: 10px;
    width: 100px;
    height: 60px;
    background-color: aliceblue;
    color: blue;
    font-weight: bold;
    font-size: 15px;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 60px;
    z-index: 1001;
    border: 1px solid rgb(29, 28, 28);
    border-radius: 5px;
}
.win {
    width: 80%;
    height: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    color: black;
}